---
import { Image } from 'astro:assets'

import logoCICAS from '../../assets/sponsors/CICAS.svg'
import logoDenodo from '../../assets/sponsors/denodo.svg'
import logoDinahosting from '../../assets/sponsors/dinahosting.svg'
import logoGradiant from '../../assets/sponsors/gradiant.svg'
import logoInditexTech from '../../assets/sponsors/InditexTech.svg'
import logoKelea from '../../assets/sponsors/Kelea.svg'
import logoMSS from '../../assets/sponsors/management-solutions.png'
import logoNomaSystems from '../../assets/sponsors/nomasystems.png'
---

<h1
  id="sponsors"
  class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text pt-20 text-center text-2xl text-transparent sm:text-3xl md:text-4xl"
>
  Aquí tenemos a los patrocinadores
</h1>
<h2 class="mt-2 text-center text-gray-300 sm:text-xl md:text-2xl">Sin ellos esto nunca sería posible</h2>
<h3 class="mt-8 text-center font-mono text-xl md:text-2xl">root</h3>
<a href="https://gradiant.org/">
  <div
    class="mx-auto mt-4 flex h-56 w-[400px] max-w-full flex-col justify-center overflow-hidden rounded-lg bg-white/75 p-2 text-center"
  >
    <Image src={logoGradiant} alt="Logo Gradiant" class="h-4/6 w-full object-contain" />
  </div>
</a>
<h3 class="mt-8 text-center font-mono text-xl md:text-2xl">admin</h3>
<div class="mt-4 grid grid-cols-1 gap-8 px-3 sm:grid-cols-2">
  <a href="https://www.denodo.com/es">
    <div class="flex h-40 flex-col justify-center overflow-hidden rounded-lg bg-white/75 p-2 px-6 text-center">
      <Image src={logoDenodo} alt="Logo Denodo" class="h-4/6 w-full object-contain" />
    </div>
  </a>
  <a href="https://www.nomasystems.com/">
    <div class="flex h-40 flex-col justify-center overflow-hidden rounded-lg bg-white/75 p-2 px-6 text-center">
      <Image src={logoNomaSystems} alt="Logo NomaSystems" class="h-4/6 w-full object-contain" />
    </div>
  </a>
  <a href="https://kelea.es/">
    <div class="flex h-40 flex-col justify-center overflow-hidden rounded-lg bg-white/75 p-2 px-6 text-center">
      <Image src={logoKelea} alt="Logo Kelea" class="h-4/6 w-full object-contain" />
    </div>
  </a>
  <a href="https://www.zaratalent.com/es/tech/">
    <div class="flex h-40 flex-col justify-center overflow-hidden rounded-lg bg-white/75 p-2 px-6 text-center">
      <Image src={logoInditexTech} alt="Logo Inditex Tech" class="h-4/6 w-full object-contain" />
    </div>
  </a>
</div>
<h3 class="mt-12 text-center font-mono text-xl md:text-2xl">user</h3>
<div class="mt-4 grid grid-cols-1 gap-7 px-8 sm:grid-cols-3 md:gap-12 md:px-14">
  <a href="https://www.managementsolutions.com/es">
    <div class="flex h-32 flex-col justify-center rounded-lg bg-white/75 px-6 text-center">
      <Image src={logoMSS} alt="Logo Management Solutions" class="h-4/6 w-full object-contain" />
    </div>
  </a>
  <a href="https://dinahosting.com">
    <div class="flex h-32 flex-col justify-center rounded-lg bg-white/75 px-6 text-center">
      <Image src={logoDinahosting} alt="Logo Dinahosting" class="h-4/6 w-full object-contain" />
    </div>
  </a>
  <a href="https://catedra-cicas.udc.gal/">
    <div class="flex h-32 flex-col justify-center rounded-lg bg-white/75 px-8 text-center">
      <Image src={logoCICAS} alt="Logo CICAS" class="h-4/6 w-full object-contain" />
    </div>
  </a>
</div>
