---
import { faCalendar } from '@fortawesome/free-regular-svg-icons'
import {
  faInfo,
  faLaptopCode,
  faLightbulb,
  faLocationArrow,
  faRocket,
  faSackDollar,
  faScroll,
  faSuitcase,
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import Logo from '../components/Logo.astro'
import HeaderLayout from '../layouts/HeaderLayout.astro'

const scrollOptions = [
  {
    icon: faInfo,
    title: 'Info. general',
    subtitle: 'Fechas, ubicación, etc.',
  },
  {
    icon: faLaptopCode,
    title: 'Participar',
    subtitle: 'Fechas, ubicación, etc.',
  },
  {
    icon: faSuitcase,
    title: 'Patrocinar',
    subtitle: 'Fechas, ubicación, etc.',
  },
]

const generalInfoOptions = [
  {
    icon: faCalendar,
    title: '16, 17 y 18 de febrero',
    subtitle:
      'El evento tendrá lugar durante tres días, empezando el viernes y terminando el domingo con la entrega de premios.',
  },
  {
    icon: faLocationArrow,
    title: 'Facultad de Informática, UDC',
    subtitle:
      'El evento tendrá lugar en la Facultad de Informática de la UDC, en el Campus de Elviña.',
  },
  {
    icon: faScroll,
    title: 'Software libre',
    subtitle:
      'El único requisito para los proyectos es que tienen que ser publicados bajo una licencia de software libre.',
  },
  {
    icon: faRocket,
    title: 'Retos y +3000 € en premios',
    subtitle:
      'El único requisito para los proyectos es que tienen que ser publicados bajo una licencia de software libre.',
  },
  {
    icon: faSackDollar,
    title: '¡Todo incluido!',
    subtitle:
      'El único requisito para los proyectos es que tienen que ser publicados bajo una licencia de software libre.',
  },
  {
    icon: faLightbulb,
    title: 'Organizado por GPUL',
    subtitle:
      'El único requisito para los proyectos es que tienen que ser publicados bajo una licencia de software libre.',
  },
]
---

<HeaderLayout title="HackUDC 2025">
  <div class="mx-auto mt-14 w-[300px] sm:w-[400px] md:w-[500px]">
    <Logo />
  </div>
  <p class="mt-12 text-center text-2xl sm:text-3xl md:text-5xl">
    La tercera edición del mayor <br />
    <span
      class="inline-block bg-gradient-to-br from-green-700 via-green-500 to-green-700 bg-clip-text text-transparent"
      >hackathon estudiantil</span
    > de Galicia
  </p>
  <div class="mt-14 grid grid-cols-1 gap-4 px-2 sm:grid-cols-3">
    {
      scrollOptions.map((o) => {
        return (
          <div class="bg-animated flex h-36 flex-col justify-evenly rounded p-0.5 duration-150 hover:scale-[1.03]">
            <div class="flex h-full flex-col justify-evenly rounded bg-[#242424] px-8 py-2 duration-150">
              <div class="px-1">
                <FontAwesomeIcon icon={o.icon} className="h-10" />
              </div>
              <div>
                <h2 class="text-xl">{o.title}</h2>
                <p class="text-sm font-light">{o.subtitle}</p>
              </div>
            </div>
          </div>
        )
      })
    }
  </div>
  <div class="mx-auto mt-20 h-10 w-[700px] rounded-lg bg-white/20"></div>
  <div class="mx-auto mt-2 h-10 w-[400px] rounded-lg bg-white/20"></div>
  <div class="mx-auto mt-12 aspect-video w-[600px] rounded-lg bg-white/20">
  </div>
  <div class="mx-auto mt-24 h-10 w-[700px] rounded-lg bg-white/20"></div>
  <div class="mt-10 grid grid-cols-1 gap-x-20 gap-y-4 md:grid-cols-2">
    {
      generalInfoOptions.map((o) => {
        return (
          <div class="flex gap-2">
            <div class="my-2 flex h-10 w-10 shrink-0 items-center justify-center">
              <FontAwesomeIcon icon={o.icon} className="h-6" />
            </div>
            <div class="py-4">
              <p class="mb-1 text-xl">{o.title}</p>
              <p>{o.subtitle}</p>
            </div>
          </div>
        )
      })
    }
  </div>
  <div class="h-[1000px]"></div>
</HeaderLayout>

<style>
  .bg-animated:hover {
    animation: gradient 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .bg-animated {
    background: linear-gradient(-45deg, #22c55e, #15803d 50%, #242424 50% 100%);
    background-size: 200% 200%;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
</style>
