---
import '@fontsource/roboto/100.css'
import '@fontsource/roboto/300.css'
import '@fontsource/roboto/400.css'
import '@fontsource/roboto/500.css'
import '@fontsource/roboto/700.css'
import '@fontsource/roboto/900.css'
import { Toaster } from 'react-hot-toast'
interface Props {
  title?: string
}

const { title } = Astro.props

import hackudcImage from '../assets/hackudc.svg'

import { Image } from 'astro:assets'

import { faInstagram, faXTwitter } from '@fortawesome/free-brands-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Meta Tags Generated with https://metatags.io -->
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
      name="description"
      content="Sign up to get the latest updates on HackUDC! Be the first to know about participation, volunteering, and sponsorship opportunities. Join us and stay informed about this exciting event!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hackudc.gpul.org/" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Sign up to get the latest updates on HackUDC! Be the first to know about participation, volunteering, and sponsorship opportunities. Join us and stay informed about this exciting event!"
    />
    <meta property="og:image" content="https://hackudc.gpul.org/meta.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://hackudc.gpul.org/" />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content="Sign up to get the latest updates on HackUDC! Be the first to know about participation, volunteering, and sponsorship opportunities. Join us and stay informed about this exciting event!"
    />
    <meta
      property="twitter:image"
      content="https://hackudc.gpul.org/meta.png"
    />
  </head>
  <body class="min-h-screen bg-[#181818]">
    <header
      class="fixed z-50 flex w-screen justify-center bg-[#181818EE] p-4 backdrop-blur-lg"
    >
      <div class="flex w-4/5 flex-row justify-between">
        <Image
          src={hackudcImage}
          alt="HackUDC logo"
          style="filter: invert(49%) saturate(542%) hue-rotate(182deg) contrast(89%);"
          height="48px"
          class="self-center"
        />
        <div
          class="flex flex-row justify-around self-center text-xl text-white"
        >
          <a href="#" class="float-left p-4">Enlace 1</a>
          <a href="#" class="float-left p-4">Enlace 2</a>
          <a href="#" class="float-left p-4">Enlace 3</a>
          <a href="#" class="float-left p-4">Enlace 4</a>
        </div>
        <div class="self-center">
          <p
            class="rounded-full border border-green-500 px-4 py-2 text-green-500 transition duration-150 hover:bg-green-500 hover:text-white"
          >
            Información
          </p>
        </div>
      </div>
    </header>

    <slot />
    <Toaster position="bottom-center" client:load />

    <footer class="flex flex-row justify-center border-t border-[#555]">
      <div class="flex w-4/5 flex-row justify-between p-4 text-gray-200">
        <p class="flex flex-row">
          <img
            src="https://gpul.org/assets/images/logos/logo_gpul.png"
            alt=""
            class="h-12"
          />
          <span class="self-center"
            >Página web desarrollada por <span class="text-green-500">GPUL</span
            ></span
          >
        </p>
        <div class="flex flex-row gap-2 self-center">
          <a href="#"
            ><FontAwesomeIcon
              icon={faInstagram}
              className="h-5 text-white/80"
            /></a
          >
          <a href="#"
            ><FontAwesomeIcon
              icon={faXTwitter}
              className="h-5 text-white/80"
            /></a
          >
        </div>
      </div>
    </footer>
  </body>

  <style is:global>
    body {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</html>
